.text-button {
  font-size: 1.8rem;
  font-family: var(--font-main);
  color: var(--color-grey-dark);
  text-decoration: none;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  user-select: none;
  &:hover {
    color: var(--color-main);
  }
}
