.boxed-button {
  height: min-content;
  width: max-content;
  font-size: 1.8rem;
  font-family: var(--font-main);
  user-select: none;
  background: var(--color-gradient);
  color: white;
  padding: 1.5rem 5rem 1.7rem 5rem;
  border-radius: 5rem;
  box-shadow: 0 0.2rem 1rem rgb(170, 170, 170);
  border: none;
  border-bottom: 2px solid var(--color-main-darkest);
  outline: none;
  cursor: pointer;
  transition: all 0.1s;
  &:hover {
    transform: translateY(-0.15rem);
    box-shadow: 0 0.4rem 1.4rem rgb(170, 170, 170);
    color: white;
  }
  &:active{
    transform: translateY(-0.08rem);
    box-shadow: 0 0.2rem 1.2rem rgb(170, 170, 170);
  }
}
