.letter {
  width: 7rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  // flex-direction: column;
  justify-items: center;
  align-items: center;

&:hover &__action{
  visibility: visible;
  opacity: 1;
}

  &__input {
    border: none;
    max-width: 7rem;
    text-align: center;
    font-family: var(--font-main-bold);
    font-size: 7rem;
    font-weight: 700;
    outline: none;
    text-transform: uppercase;

    @media only screen and (max-width: 600px) {
      font-size: 4rem;
    }
  }

  &__action {
    visibility: hidden;
    opacity: 0;
  }

  &__icon {
    cursor: pointer;
    &--unlocked {
      color: gainsboro;
    }
    &--locked {
      color: black;
    }
  }

  &__remove {
    margin-top: 1.5rem;
    cursor: pointer;
    color: #767676;
    font-size: 2.5rem;
    margin-right: 0.3rem;
  }
}
